<?xml version="1.0"?>
<config>
    <paths>
        <iaus>res/iaus</iaus>
        <shaders>res/shaders</shaders>
        <models>res/models</models>
        <pallettes>res/pallettes</pallettes>
        <framedata>res/framedata</framedata>
        <fmod>res/fmod</fmod>
        <fonts>res/fonts</fonts>
        <interface>res/interface</interface>
        <resources>res/resources</resources>
    </paths>
</config>